.learn-about {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  padding: 2rem;
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
  align-items: center;
}

/* About and Mission Sections */
.about-section, .mission-section, .story-section {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
}

.about-section .content, .mission-section .content, .story-section .content {
  flex: 1;
}

.section-image {
  flex: 1;
  max-width: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.section-image2 {
  flex: 1;
  max-width: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.section-image3 {
  flex: 1;
  max-width: 550px;
  border-radius: 20px;
  object-fit: cover;
}

.story-section h2 {
  font-size: 2.5rem;
  color: #00796b;
  margin-bottom: 1rem;
}
