#pose-dropdown-btn:hover {
    border-color: white;
}

#pose-dropdown-btn {
    width: 400px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#pose-dropdown-btn:focus {
    background-color: white;
    color: black;
    box-shadow: none;
}

#pose-dropdown-btn:focus-within {
    border-color: white;
}

.dropdown-custom-menu {
    overflow: scroll;
    height: 40vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.dropdown-custom-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-item-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.dropdown-item-1 {
    margin: 0;
}

.dropdown-img {
    width: 80px;
    height: 80px;
}