/* Instructions.css */
.instructions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

.instructions-list {
    width: 50%;
    border-radius: 8px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.instruction {
    margin: 10px;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 400;
}

.pose-demo-img {
    width: 400px;
    aspect-ratio: 1;
    border-radius: 15px;
}